[submodule "PMOVES-Agent-Zero"]
	path = PMOVES-Agent-Zero
	url = https://github.com/POWERFULMOVES/PMOVES-Agent-Zero.git
[submodule "PMOVES-Archon"]
	path = PMOVES-Archon
	url = https://github.com/POWERFULMOVES/PMOVES-Archon.git
[submodule "PMOVES-HiRAG"]
	path = PMOVES-HiRAG
	url = https://github.com/POWERFULMOVES/PMOVES-HiRAG.git
[submodule "PMOVES-tensorzero"]
	path = PMOVES-tensorzero
	url = https://github.com/POWERFULMOVES/PMOVES-tensorzero.git
[submodule "PMOVES.YT"]
	path = PMOVES.YT
	url = https://github.com/POWERFULMOVES/PMOVES.YT.git
[submodule "PMOVES-Deep-Serch"]
	path = PMOVES-Deep-Serch
	url = https://github.com/POWERFULMOVES/PMOVES-Deep-Serch.git
[submodule "PMOVES-Open-Notebook"]
	path = PMOVES-Open-Notebook
	url = https://github.com/POWERFULMOVES/PMOVES-Open-Notebook.git
[submodule "PMOVES-BoTZ"]
	path = PMOVES-BoTZ
	url = https://github.com/POWERFULMOVES/PMOVES-BoTZ.git
